# Data Science Tools and Ecosystem

## Autor
Liseth A. Villasmil Far√≠a

### Introduction

In this exercise I will try to address the main applications or environments that are relevant for data analysis.

### Goals:

In this exercise book I outline part of what I learned in module 2 of the Data Scientist course:

* Main languages in data science
* Tools used in data science
* Open Source Tools
* Some arithmetic operations in Jupyter notebooks
* Use of discount cells

### Some of the popular languages that Data Scientists use are: 
1. Python
2. Julia
3. R
4. SQL
5. C++

### Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit-Learn
4. Keras
5. Pytorch

### Data Science Tools

| Data Sciencie Tools |  
| --- |
| MySQL
| MongoDB
| Apache Couch DB
| KubeFlow

###  Create a markdown cell introducing arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python

(3*8)

(3-8)

(3*3)

(3/3)

### Create a code cell to multiply and add numbers

In [30]:
(3*4)+5

17

In that expression there are two arithmetic expressions: multiplication and addition. In this sense, first multiply 3 x 4, which gives 12 and to the product of this, add the number that is outside the parentheses, that is, 5.

### Create a code cell to convert minutes to hours

In this code cell write an expression that converts 200 minutes into hours

In [32]:
200/60

3.3333333333333335

The minutes were divided by 60, since each hour is made up of 60 minutes. That equals 3,333...